<xf:title>{{ phrase('changeContentOwner_change_xfmg_media_author') }}</xf:title>

<xf:breadcrumb source="$mediaItem.getBreadcrumbs()" />

<xf:form action="{{ link('media/change-author', $mediaItem) }}" class="block" ajax="true">

	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="new_author_username" value="" ac="true" label="{{ phrase('changeContentOwner_new_xfmg_media_author_name') }}" explain="{{ phrase('changeContentOwner_new_xfmg_media_author_name_explain') }}" data-single="true" />
		</div>

		<xf:submitrow icon="save" sticky="true" />
	</div>
</xf:form>