<xf:title>{{ phrase('changeContentOwner_change_thread_author') }}</xf:title>

<xf:breadcrumb source="$thread.getBreadcrumbs()" />

<xf:form action="{{ link('threads/change-author', $thread) }}"
	class="block"
	ajax="true">

	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="new_author_username" value="" ac="true" label="{{ phrase('changeContentOwner_new_thread_author_name') }}" explain="{{ phrase('changeContentOwner_new_thread_author_name_explain') }}" data-single="true" />
		</div>

		<xf:submitrow icon="save" sticky="true" />
	</div>
</xf:form>