<xf:macro name="action_link" arg-content="!" arg-route="!" arg-supportsActionBarMenu="{{ true }}">
	<xf:if contentcheck="true">
		<xf:contentcheck>
			<xf:if is="$content.canChangeOwner() && $content.canChangeDate()">
				<a href="{{ link($route . '/change-owner', $content) }}"
				   class="actionBar-action actionBar-action--changeOwnerAndDate actionBar-action--menuItem"
				   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner_or_date') }}</a>
			<xf:elseif is="$content.canChangeOwner()" />
				<a href="{{ link($route . '/change-owner', $content) }}"
				   class="actionBar-action actionBar-action--changeOwner actionBar-action--menuItem"
				   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner') }}</a>
			<xf:elseif is="$content.canChangeDate()" />
				<a href="{{ link($route . '/change-owner', $content) }}"
				   class="actionBar-action actionBar-action--changeDate actionBar-action--menuItem"
				   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_date') }}</a>
			</xf:if>
		</xf:contentcheck>
		<xf:if is="$supportsActionBarMenu">
			<xf:set var="$hasActionBarMenu" value="{{ true }}" />
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="menu_link_row" arg-content="!" arg-route="!">
	<xf:if is="$content.canChangeOwner() && $content.canChangeDate()">
		<a href="{{ link($route . '/change-owner', $content) }}"
		   class="menu-linkRow"
		   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner_or_date') }}</a>
	<xf:elseif is="$content.canChangeOwner()" />
		<a href="{{ link($route . '/change-owner', $content) }}"
		   class="menu-linkRow"
		   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner') }}</a>
	<xf:elseif is="$content.canChangeDate()" />
		<a href="{{ link($route . '/change-owner', $content) }}"
		   class="menu-linkRow"
		   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_date') }}</a>
	</xf:if>
</xf:macro>

<xf:macro name="change_owner_row">
	<xf:textboxrow name="username"
				   label="{{ phrase('tckChangeContentOwner_new_owner') }}"
				   explain="{{ phrase('tckChangeContentOwner_new_owner_name_explain') }}"
				   ac="true"
				   data-single="true" />
</xf:macro>

<xf:macro name="change_date_row" arg-contentDate="{{ null }}" arg-showTimeIntervals="{{ false }}" >
	<xf:css src="tckChangeContentOwner_macros_change_date_row.less" />
	<xf:js addon="TickTackk/ChangeContentOwner" src="ticktackk/changecontentowner/main.js" min="1" />
	
	<xf:dateinputrow name="date"
					 label="{{ phrase('tckChangeContentOwner_new_date') }}"
					 explain="{{ phrase('tckChangeContentOwner_new_date_explain') }}"
					 data-allow-setting-time="true"
					 value="{$contentDate}"/>
	
	<xf:if is="$showTimeIntervals">
		<hr class="formRowSep" />
		<xf:macro name="time_interval_row" />
	</xf:if>
	
	<script class="js-extraPhrases" type="application/json">
		{
			"midnight": "{{ phrase('midnight')|escape('json') }}",
			"noon": "{{ phrase('noon')|escape('json') }}"
		}
	</script>
</xf:macro>

<xf:macro name="time_interval_row">
	<xf:set var="$option" value="{{ $xf.options.tckChangeContentOwner_defaultNewDateTimeInterval }}" />

	<xf:formrow rowtype="input"
				label="{{ phrase('tckChangeContentOwner_time_interval') }}"
				explain="{{ phrase('tckChangeContentOwner_time_interval_explain') }}">
		<div class="inputGroup inputGroup--numbers">
			<xf:numberbox name="date_time_interval[hours]" value="{{ $option.hours ?: 0 }}"
						  min="0"
						  units="{{ phrase('units_hours') }}" />
			<span class="inputGroup-splitter"></span>

			<xf:numberbox name="date_time_interval[minutes]" value="{{ $option.minutes ?: 0 }}"
						  min="0"
						  units="{{ phrase('units_minutes') }}" />
			<span class="inputGroup-splitter"></span>

			<xf:numberbox name="date_time_interval[seconds]" value="{{ $option.seconds ?: 0 }}"
						  min="0"
						  units="{{ phrase('units_seconds') }}" />
		</div>
	</xf:formrow>
</xf:macro>

<xf:macro name="change_rows" arg-handler="!" arg-content="!">
	<xf:if is="$handler AND $content">
		<xf:if is="$handler.canChangeOwner($content)">
			<xf:macro template="tckChangeContentOwner_macros"
					  name="change_owner_row" />
		</xf:if>
		
		<xf:if is="$handler.canChangeDate($content)">
			<xf:macro template="tckChangeContentOwner_macros"
					  name="change_date_row"
					  arg-contentDate="{{ date($handler.getOldDate($content), 'Y-m-d H:i:s') }}" />
		</xf:if>
	</xf:if>
</xf:macro>