<xf:macro name="action_link" arg-content="!" arg-route="!" arg-supportsActionBarMenu="{{ true }}">
	<xf:if contentcheck="true">
		<xf:contentcheck>
			<xf:if is="$content.canChangeOwner() && $content.canChangeDate()">
				<a href="{{ link($route . '/change-owner', $content) }}"
				   class="actionBar-action actionBar-action--changeOwnerAndDate actionBar-action--menuItem"
				   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner_or_date') }}</a>
			<xf:elseif is="$content.canChangeOwner()" />
				<a href="{{ link($route . '/change-owner', $content) }}"
				   class="actionBar-action actionBar-action--changeOwner actionBar-action--menuItem"
				   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner') }}</a>
			<xf:elseif is="$content.canChangeDate()" />
				<a href="{{ link($route . '/change-owner', $content) }}"
				   class="actionBar-action actionBar-action--changeDate actionBar-action--menuItem"
				   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_date') }}</a>
			</xf:if>
		</xf:contentcheck>
		<xf:if is="$supportsActionBarMenu">
			<xf:set var="$hasActionBarMenu" value="{{ true }}" />
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="menu_link_row" arg-content="!" arg-route="!">
	<xf:if is="$content.canChangeOwner() && $content.canChangeDate()">
		<a href="{{ link($route . '/change-owner', $content) }}"
		   class="menu-linkRow"
		   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner_or_date') }}</a>
	<xf:elseif is="$content.canChangeOwner()" />
		<a href="{{ link($route . '/change-owner', $content) }}"
		   class="menu-linkRow"
		   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_owner') }}</a>
	<xf:elseif is="$content.canChangeDate()" />
		<a href="{{ link($route . '/change-owner', $content) }}"
		   class="menu-linkRow"
		   data-xf-click="overlay">{{ phrase('tckChangeContentOwner_change_date') }}</a>
	</xf:if>
</xf:macro>

<xf:macro name="change_owner_row" arg-fullWidth="{{ false }}">
	<xf:textboxrow rowclass="{{ ($fullWidth ? 'formRow--fullWidth' : '') }}" name="username"
				   label="{{ phrase('tckChangeContentOwner_new_owner') }}"
				   explain="{{ phrase('tckChangeContentOwner_new_owner_name_explain') }}"
				   ac="true"
				   data-single="true" />
</xf:macro>

<xf:macro name="change_date_row" arg-contentDate="{{ null }}" arg-contentTime="{{ null }}" arg-showApplyTimeInterval="{{ true }}" arg-fullWidth="{{ false }}">
	<xf:css src="tckChangeContentOwner_macros_change_date_row.less" />
	
	<xf:checkboxrow rowclass="{{ ($fullWidth ? 'formRow--fullWidth' : '') }}"
					label="{{ phrase('tckChangeContentOwner_change_date') }}">
		<xf:option name="change_date" label="{{ phrase('tckChangeContentOwner_new_date') }}" data-hide="true">
			<xf:dependent>
				<input type="date" name="new_date"
					   class="input input--date input--inline input--autoSize"
					   value="{$contentDate}" />
			</xf:dependent>
		</xf:option>
		<xf:option name="change_time" label="{{ phrase('tckChangeContentOwner_new_time') }}" data-hide="true">
			<xf:dependent>
				<input type="time" name="new_time" step="1"
					   class="input input--time input--inline input--autoSize"
					   value="{$contentTime.hour}:{$contentTime.minute}:{$contentTime.second}" />
			</xf:dependent>
		</xf:option>
		<xf:if is="$showApplyTimeInterval">
			<xf:option name="apply_time_interval" label="{{ phrase('tckChangeContentOwner_time_interval') }}" data-hide="true">
				<xf:dependent>
					<xf:set var="$option" value="{{ $xf.options.tckChangeContentOwner_defaultTimeInterval }}" />

					<div class="inputGroup-container">
						<div class="inputGroup inputGroup--numbers inputGroup--inline">
							<xf:numberbox name="time_interval[hour]" value="{{ $option.hours ?: 0 }}"
										  min="0"
										  units="{{ phrase('units_hours') }}"  class="input--inline input--numberNarrow" />
						</div>
						
						<div class="inputGroup inputGroup--numbers inputGroup--inline">
							<xf:numberbox name="time_interval[minute]" value="{{ $option.minutes ?: 0 }}"
										  min="0"
										  units="{{ phrase('units_minutes') }}"  class="input--inline input--numberNarrow" />
						</div>
						
						<div class="inputGroup inputGroup--numbers inputGroup--inline">
							<xf:numberbox name="time_interval[second]" value="{{ $option.seconds ?: 0 }}"
										  min="0"
										  units="{{ phrase('units_seconds') }}"  class="input--inline input--numberNarrow" />
						</div>
					</div>

					<p class="formRow-explain">{{ phrase('tckChangeContentOwner_bump_time_explain') }}</p>
				</xf:dependent>
			</xf:option>
		</xf:if>
	</xf:checkboxrow>
</xf:macro>

<xf:macro name="change_rows" arg-handler="!" arg-content="!" arg-showApplyTimeInterval="{{ true }}" arg-fullWidth="{{ false }}">
	<xf:if is="$handler AND $content">
		<xf:if is="$handler.canChangeOwner($content)">
			<xf:macro template="tckChangeContentOwner_macros" name="change_owner_row" arg-fullWidth="{$fullWidth}" />
		</xf:if>
		
		<xf:if is="$handler.canChangeDate($content)">
			<xf:set var="$contentDate" value="{{ $handler.getOldDate($content, true) }}" />
			<xf:set var="$contentTime" value="{{ $handler.getOldTime($content, true) }}" />

			<xf:macro template="tckChangeContentOwner_macros"
					  name="change_date_row"
					  arg-contentDate="{{ $contentDate.year . '-' . $contentDate.month . '-' . $contentDate.day }}"
					  arg-contentTime="{{ $contentTime }}"
					  arg-showApplyTimeInterval="{{ $showApplyTimeInterval }}"
					  arg-fullWidth="{$fullWidth}" />
		</xf:if>
	</xf:if>
</xf:macro>