.input
{
	&.input--date,
	&.input--time
	{
		height: 2.4em;
		position: relative;

		&::-webkit-calendar-picker-indicator
		{
			right: @xf-paddingMedium;
			position: absolute;
		}
	}
	
	&.input--time
	{
		min-width: 125px;
	}
}